<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>

      <h1>News App</h1>

      <ul>
        <% for(let article of articles) { %>
          <li>
            <article>
              <h2><%= article.title %></h2>
              <p><%= article.content %></p>
              <a href="<%= article.url %>">Read more...</a>
            </article>
          </li>
        <% } %>
      </ul>

    </main>
    
    <footer>
      <p>News headlines provided by 
        <a href="<%= newsapiLink %>">newsapi.org</a> 
      </p>
    </footer>

  </body>
</html>
