<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>

      <h1>Headlines</h1>
      <h2>News Headlines From the UK</h2>
      <ul>
        <% for(let article of articles) { %>
          <li>
            <article>
              <h3><%= article.title %></h3>
              <p><%= article.content %></p>
              <a href="<%= article.url %>">Read more...</a>
            </article>
          </li>
        <% } %>
      </ul>

    </main>
    
    <footer>
      <p>News headlines provided by 
        <a href="<%= newsapiLink %>">newsapi.org</a> 
      </p>
    </footer>

  </body>
</html>
